* {
  margin: 0 auto;
  text-align: center;
}

.header {
  display: flex;
  height: 5rem;
}
.header #logo {
  background-color: red;
  width: 20%;
}
.header .site-head {
  width: 80%;
  background-color: green;
}
.menu {
  height: 3rem;
  width: 100%;
  background-color: yellow;
}
.sections {
  height: 9rem;
  width: 100%;
  display: flex;
}
.sec1 {
  width: 33%;
  background-color: blue;
}

.sec2 {
  width: 33%;
  background-color: gray;
}

.sec3 {
  width: 34%;
  background-color: pink;
}
.contents {
  display: flex;
}
.page-content {
  width: 80%;
  height: 30rem;
  background-color: rgb(99, 150, 24);
}
.sidebar {
  width: 20%;
  background-color: olive;
}
.footer {
  background-color: rgb(39, 216, 216);
}
